.header {
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  border-top: none;
  transition: margin-top 0.1s, border-top 0.1s linear;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 28px 0 31.6px;
  }
}
