.popup__save-btn_type_disabled {
  background: #F6F6F6;
  color: #000;
  border-radius: 2px;
  border: 1px solid #000;
  opacity: .2;
  cursor: default;
}

.popup__save-btn_type_disabled:hover {
  opacity: .2;
}
